@use "./abstracts/fonts";
@use "./abstracts/colors";

.page {
  display: flex;
  margin: 15px;
  height: 85vh;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, -0.575rem + 1.533vw, 2.5rem);

  hr {
    height: 90%;
    margin: 0 25px;
  }

  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-top: 5%;
    .container {
      position: relative;
      display: flex;
      min-height: 60vh;
      width: 70%;
      min-width: 250px;
      background-color: white;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 25px;
      border-radius: 50px;
      box-shadow: 10px 10px 20px -5px #505050;

      .image {
        position: static;
        margin-top: -35%;
        img {
          block-size: 25vmin;
        }
      }
      .fullname {
        font-weight: 700;
        font-size: 2.2rem;
        font-family: fonts.$primary-font;
        text-align: center;
      }
      .about {
        text-align: center;
        font-family: fonts.$header-font;
        font-size: 1.05em;
      }
    }
  }
  .right {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: fit-content;

    .images {
      display: flex;
      justify-content: flex-start;
      // height: 20%;
      height: 20vh;
      width: 100%;
      right: 0;
      overflow: hidden;

      img {
        margin: 0 10px;
        aspect-ratio: 16/9;
      }
    }

    .info {
      height: 80%;

      .options {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 10%;
        transition: ease-in-out 1s;
        margin: 20px 0 5px 0;
        button {
          font-family: fonts.$header-font;
          // font-size: 20px;
          font-size: 1.3rem;
          height: 70%;
          padding: 0 30px;
          border-radius: 25px;
          &:hover {
            cursor: pointer;
            background-color: #0000007e;
          }
        }
      }
      .content {
        height: 55vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
        z-index: 0;
      }
    }
  }
}
