@use './abstracts/fonts';

.page {
  display: flex;
  margin: 15px 15px 0px 15px;
  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;

    .container {
      display: flex;
      min-height: 50vh;
      width: 70%;
      background-color: white;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 25px;
      border-radius: 50px;
      box-shadow: 10px 10px 20px -5px #505050;

      .image {
        position: static;
        margin-top: -35%;
        img {
          width: 150px;
          height: 150px;
        }
      }
      .fullname {
        font-weight: 700;
        font-size: 25px;
        font-family: fonts.$primary-font;
      }
      .about {
        text-align: center;
        font-size: 15px;
      }
    }
  }
  .right {
    display: flex;
    flex-flow: column;
    width: 70%;

    .images {
      display: flex;
      justify-content: space-evenly;
      height: 20%;
    }

    .info {
      height: 80%;

      .options {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 10%;
        transition: ease-in-out 1s;
        button {
          font-family: fonts.$header-font;
          font-size: 20px;
          height: 70%;
          padding: 0 30px;
          border-radius: 25px;
          &:hover {
            cursor: pointer;
            background-color: #0000007e;
          }
        }
      }

      .content {
        height: 55vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
        z-index: 0;
        .frontboard {
          position: relative;
          display: flex;
          justify-content: center;
          background-color: rgb(187, 187, 187);
          width: 60%;
          height: 100%;
          border-radius: 25px;
          z-index: 2;

          .price-slide{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: inherit;
            .activity{
              font-weight: 500;
            }
            .price{
              font-weight: 900;
            }
          }
        }
        .backboard {
          position: relative;
          background-color: rgb(37, 37, 37);
          width: 30%;
          height: 100%;
          border-radius: 25px;
          z-index: 1;
          left: -5%;
        }
      }
    }
  }
}
