@import url('https://fonts.googleapis.com/css2?family=Mohave&family=Rajdhani&family=Ropa+Sans&display=swap');

$primary-font: 'Ropa Sans', sans-serif;
$header-font: 'Rajdhani', sans-serif;
$info-font: 'Mohave', sans-serif;