@use "./fonts";

@mixin tablet {
  @media only screen and (max-width: 1050px) and (min-height: 850px) {
    hr {
      display: none;
    }
    .page {
      display: flex;
      flex-flow: wrap-reverse;
      justify-content: center;
      height: unset;

      .left {
        position: relative;
        bottom: 10px;

        .container {
          position: relative;
          display: flex;
          flex-direction: row;
          min-height: unset;
          width: fit-content;
          background-color: white;
          justify-content: space-evenly;
          align-items: center;
          padding: 11px;
          border-radius: 50px;
          box-shadow: 10px 10px 20px -5px #505050;
          .image {
            position: static;
            margin: 0;

            img {
              block-size: 10vmin;
            }
          }

          .about {
            display: none;
          }
        }
      }
      .right {
        display: flex;
        flex-flow: column;
        justify-content: center;
        width: -moz-fit-content;
        width: 100%;

        .images {
          position: relative;
          width: 100%;
          height: 20vh;
          display: flex;
          justify-content: flex-start;
          overflow: hidden;
          box-sizing: border-box;

          .images_container {
            overflow: hidden;

            img {
              aspect-ratio: 16/9;
            }
          }
        }
        .info {
          height: 80%;
          .frontboard {
            font-family: "Rajdhani", sans-serif;
            position: relative;
            display: flex;
            justify-content: center;
            background-color: white;
            width: 65vw;
            min-height: 425px;
            height: 90%;
            border-radius: 25px;
            z-index: 2;
            box-shadow: 15px 10px 26px 0px rgb(0 0 0 / 61%);
            .price {
              position: relative;
              display: flex;
              flex-direction: column;
              width: 80%;
              margin: 20px 10px;

              .total {
                @include fonts.responsiveFont(2em, !important);
              }
              .attraction {
                height: 70%;
                overflow: hidden;

                &_space_between {
                  @include fonts.responsiveFont(1.8em, null);
                }
              }

              .info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 20%;
              }
            }
            .contact {
              position: relative;
              display: flex;
              flex-direction: column;
              width: 80%;
              margin: 20px 10px;
              @include fonts.responsiveFont(2em, null);

              &_activity {
                margin: 1rem 0;
                transform: scale(1.4);
              }

              .message {
                textarea {
                  @include fonts.responsiveFont(0.75em, null);
                }
                input {
                  height: 60px;
                  width: 60px;
                }
              }
            }
          }

          .opinion {
            .container {
              .review {
                img
                {
                  height: 5rem;
                  width: 5rem;
                }
                @include fonts.responsiveFont(1.5em, null);
              }

            }
            &_space_between {
              .rate {
                .overall
                {
                  @include fonts.responsiveFont(50px, null);
                }
                .ratings {
                  @include fonts.responsiveFont(25px, null);
                }
              }
              button
              {
                @include fonts.responsiveFont(1rem, null);
              }
            }
          }

          .backboard {
            position: relative;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: right;
            width: -moz-fit-content;
            width: fit-content;
            min-height: 425px;
            height: 90%;
            border-radius: 25px;
            z-index: 1;
            left: -5%;
            img {
              border-radius: 25px;
              opacity: 60%;
              width: 18vw;
              object-fit: cover;
            }
          }

          .content {
            height: 55vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 5%;
            z-index: 0;
          }
          .options {
            position: relative;
            height: 5vh;
            width: 100%;
            margin: 1rem 0 -1rem 0;
            overflow: hidden;
            white-space: nowrap;
            &_container {
              display: block;
              line-height: 2;
              justify-content: space-evenly;
              align-items: center;
              transition: ease-in-out 1s;
              button {
                font-family: "Rajdhani", sans-serif;
                font-size: 1.8rem;
                height: 70%;
                padding: 0 30px;
                border-radius: 25px;
              }
            }
          }
        }
      }
    }
  }
}

@mixin phone {
  @media screen and (max-width: 950px) {
      hr {
        display: none;
      }
      .page {
        display: flex;
        flex-flow: wrap-reverse;
        justify-content: center;
        height: unset;
  
        .left {
          position: relative;
          bottom: 10px;
  
          .container {
            position: relative;
            display: flex;
            flex-direction: row;
            min-height: unset;
            width: fit-content;
            background-color: white;
            justify-content: space-evenly;
            align-items: center;
            padding: 11px;
            margin-top: 1.5rem;
            border-radius: 50px;
            box-shadow: 10px 10px 20px -5px #505050;
            .image {
              position: static;
              margin: 0;
  
              img {
                block-size: 10vmin;
              }
            }
  
            .about {
              display: none;
            }
          }
        }
        .right {
          display: flex;
          flex-flow: column;
          justify-content: flex-start;
          width: -moz-fit-content;
          width: 100vw;
  
          .images {
            position: relative;
            width: 100%;
            height: 20vh;
            display: flex;
            justify-content: flex-start;
            overflow: hidden;
            box-sizing: border-box;
  
            .images_container {
              overflow: hidden;
  
              img {
                aspect-ratio: 16/9;
              }
            }
          }
          .info {
            height: 80%;
            .content {
            .frontboard {
              font-family: "Rajdhani", sans-serif;
              position: relative;
              display: flex;
              justify-content: center;
              background-color: white;
              width: 90vw;
              min-height: unset;
              height: 100%;
              border-radius: 25px;
              z-index: 2;
              box-shadow: 15px 10px 26px 0px rgb(0 0 0 / 61%);
              .price {
                position: relative;
                display: flex;
                flex-direction: column;
                width: 80%;
                margin: 20px 10px;
  
                .total {
                  @include fonts.responsiveFont(1.8em, !important);
                }
  
                .attraction {
                  height: 70%;
                  overflow: hidden;
  
                  &_space_between {
                    @include fonts.responsiveFont(1.3em, null);
                  }
                }
  
                .info {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  height: 20%;
                }
              }
              .contact {
                position: relative;
                display: flex;
                flex-direction: column;
                width: 80%;
                margin: 20px 10px;
                @include fonts.responsiveFont(1.2em, null);
  
                .message {
                  textarea {
                    @include fonts.responsiveFont(0.75em, null);
                  }
                  input {
                    height: 60px;
                    width: 60px;
                  }
                }
              }
            }
          }
  
            .opinion {
              .container {
                .review {
                  @include fonts.responsiveFont(1.2em, null);
                  height: 32vh;

                  img
                  {
                    height: 5rem;
                    width: 5rem;
                  }
                }
  
              }
              &_space_between {
                .rate {
                  .overall
                  {
                    @include fonts.responsiveFont(40px, null);
                  }
                  .ratings {
                    @include fonts.responsiveFont(20px, null);
                  }
                }
                button
                {
                  @include fonts.responsiveFont(1rem, null);
                }
              }
            }
  
            .backboard {
             display: none;
            }
  
            .content {
              height: 55vh;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-left: 0;
              z-index: 0;
            }
            .options {
              position: relative;
              height: 5vh;
              width: 97vw;
              margin-top:0.5rem 0;
              overflow-x: overlay;
              white-space: nowrap;
              justify-content: flex-start;
              &::-webkit-scrollbar {
                display: none;
              }
              &_container {
                display: block;
                line-height: 2;
                justify-content: space-evenly;
                align-items: center;
                button {
                  font-family: "Rajdhani", sans-serif;
                  font-size: 1.8rem;
                  height: 70%;
                  padding: 0 30px;
                  border-radius: 25px;
                }
              }
            }
          }
        }
      }
    }  
}
